.projectPage{
    margin-top: 2vh;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.projectContainer{
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: top;
}
.projectDiv{
    border-width: 1px;
    border-radius: 6px;
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
    border-color: black;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.6;
}
article{
    text-align: left;
}
.githubButton{ 
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: rgb(218, 194, 165);
    border-color: black;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    text-decoration: none;
}
.githubButton:hover{
    background-color: rgba(80, 64, 43, 0.884);
    border-color: rgba(80, 64, 43, 0.884);
    color: white;
}
.buttonDiv{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: center;
}