.projectPage{
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.heading{
    display: inline-block;
    text-align: center ;
    border-bottom: solid 1px black;
}
.headingNight{
    display: inline-block;
    text-align: center ;
    border-bottom: solid 1px white;
}
.divHeading{
    text-align: center ;
    border-bottom: solid 1px black;
}
.divHeadingNight{
    text-align: center ;
    border-bottom: solid 1px white;
}
.projectContainer{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-content: center;
}
.projectDiv{
    border-width: 1px;
    border-radius: 6px;
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
    border-color: black;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.6;
}
/* Center the two projectDiv items when there are only two items in the grid */
.projectContainer.two-items .projectDiv {
    grid-row: span 1;
  }
  
  /* Center the three projectDiv items when there are three items in the grid */
  .projectContainer.three-items .projectDiv {
    grid-column: span 1;
  }
.projectDivNight{
    border-width: 1px;
    border-radius: 6px;
    background-color: rgb(36, 36, 36);
    box-shadow: 0;
    border-color: white;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.6;
}
.descriptions{
    
}
li{
    margin: 10px 5px;
}
article{
    text-align: left;
}
.githubButton{ 
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: rgb(218, 194, 165);
    border-color: black;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    white-space: nowrap;
}
.githubButton:hover{
    background-color: rgba(80, 64, 43, 0.884);
    border-color: rgba(80, 64, 43, 0.884);
    color: white;
}
.githubButtonNight{ 
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    white-space: nowrap;
}
.githubButtonNight:hover{
    background-color: rgba(0, 0, 0, 0.884);
    border-color: rgba(0, 0, 0, 0.884);
    color: rgb(255, 255, 255);
}
.buttonDiv{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: center;
}
.buttonDivLinks{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 430px){
    .projectContainer{
        grid-template-columns: 1fr;
    }
    .githubButton, .githubButtonNight{ 
        font-size: 16px;
        white-space: nowrap;
    }
}