.switch {
  display: flex;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
%NightSwitchFaicon {
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.NightSwitchFaiconDay {
  @extend %NightSwitchFaicon;
  color: #293129;
}
.NightSwitchFaiconNight {
  @extend %NightSwitchFaicon;
  color: white;
}
@media (max-width: 450px) {
  .NightSwitchFaiconDay,
  .NightSwitchFaiconNight {
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .switch {
    display: flex;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
}
