.switch{
    display: flex;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100px;    
    justify-content: center;
    align-items: center;
}
.NightSwitchFaicon{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    color:#293129;
    transition: 0.2s;
}
.NightSwitchFaiconNight{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    color:white;
    transition: 0.2s;
}
@media (max-width: 430px){
    .NightSwitchFaicon, .NightSwitchFaiconNight{
        font-size: 24px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
}