@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html{
    scroll-behavior: smooth;
}
.homeButton, .middleButton{ 
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    color: rgb(218, 194, 165);
    border-color: black;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}
.homeButton:hover, .middleButton:hover{
    background-color: rgba(80, 64, 43, 0.884);
    border-color: rgba(80, 64, 43, 0.884);
    color: white;
}
.homeButtonNight, .middleButtonNight{ 
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}
.homeButtonNight:hover, .middleButtonNight:hover{
    background-color: rgba(0, 0, 0, 0.884);
    border-color: rgba(0, 0, 0, 0.884);
    color: white;
}
.topBar{
    background-color: rgb(218, 194, 165);
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.topBarNight{
    background-color: rgb(36,36,36);
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    flex-direction: row;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
.middleButton, .middleButtonNight{
    margin-left:10px; 
    margin-right: 10px;
}
.leftSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: start;
}
.middleSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: center;
}
.rightSection{
    display:flex;
    flex: 1;
    align-items:center;
    justify-content: end;
}
.faicon{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    color:black;
}
.faicon:hover{
    color: rgba(80, 64, 43, 0.884);
}
.faiconNight{
    font-size:36px;
    margin-left:10px; 
    margin-right: 10px; 
    color:white;
}
.faiconNight:hover{
    color: rgba(0, 0, 0, 0.884);
}

@media (max-width: 430px){
    .homeButton, .middleButton, .homeButtonNight, .middleButtonNight{ 
        font-size: 12px;
        padding: 5px;
    }
    .topBar, .topBarNight{
        height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .middleButton, .middleButtonNight{
        margin-left: 5px; 
        margin-right: 5px;
    }
    .faicon, .faiconNight{
        font-size: 24px;
        margin-left: 5px; 
        margin-right: 5px; 
    }
}