@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
@import "../../variables.scss";

html {
  scroll-behavior: smooth;
}
%Button {
  cursor: pointer;
  font-size: 20px;
  white-space: nowrap;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}
.middleButtonDay {
  @extend %Button;
  background-color: $ButtonBackground;
  color: $ButtonText;
  border-color: $ButtonBorder;
}
.middleButtonDay:hover {
  background-color: $ButtonBackgroundHover;
  color: $ButtonTextHover;
  border-color: $ButtonBorderHover;
}
.middleButtonNight {
  @extend %Button;
  background-color: $ButtonBackgroundNight;
  color: $ButtonTextNight;
  border-color: $ButtonBorderNight;
}
.middleButtonNight:hover {
  background-color: $ButtonBackgroundNightHover;
  border-color: $ButtonBorderNightHover;
  color: $ButtonTextNightHover;
}
%topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  height: 65px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  transition: 0.2s;
}
.topBarDay {
  @extend %topBar;
  background-color: $BarBackgroundColorDay;
}
.topBarNight {
  @extend %topBar;
  background-color: $BarBackgroundColorNight;
}
.leftSection {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
}
.middleSection {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.rightSection {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}
%faicon {
  font-size: 36px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.faiconDay {
  @extend %faicon;
  color: $ButtonBackground;
}
.faiconDay:hover {
  color: $ButtonBackgroundHover;
}
.faiconNight {
  @extend %faicon;
  color: $ButtonBackgroundNight;
}
.faiconNight:hover {
  color: $ButtonBackgroundNightHover;
}
.switch {
  margin-left: 25px;
  width: 100px;
  height: 100px;
}
@media (max-width: 450px) {
  %topBar {
    height: auto;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .leftSection {
    width: auto;
  }

  .rightSection {
    margin-left: -96px;
  }

  .leftSection,
  .rightSection {
    height: 50px;
  }

  %faicon {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .switch {
    margin-left: 6px;
    width: 100px;
    height: 100px;
  }
}
