.footerDay{
    margin-top: 12vh;
    margin-bottom: -16px;
    background-color: #4E6C50;
    color: #fff1de;
    text-align: center;
    padding: 2px;
    transition: 0.2s;
}
.footerNight{
    margin-top: 12vh;
    margin-bottom: -16px;
    background-color: rgb(36, 36, 36);
    text-align: center;
    padding: 2px;
    transition: 0.2s;
}