@import "../../variables";

%footer{
    margin-top: 12vh;
    margin-bottom: -16px;
    text-align: center;
    padding: 2px;
    transition: 0.2s;
}

.footerDay{
    @extend %footer;
    background-color: $footerBackgroundColorDay;
    color: $footerFontColorDay;
}
.footerNight{
    @extend %footer;
    background-color: $footerBackgroundColorNight;
    color: $footerFontColorNight;
}