.App {
  text-align: center;
  background-color: #e7e1d1f5;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
}

.AppNight {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
}