@import "./variables.scss";

.AppDay {
  text-align: center;
  background-color: $appBackgroundDay;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
}

.AppNight {
  text-align: center;
  background-color: $appBackgroundNight;
  color: $appTextNight;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
}
