// App Colours
$appBackgroundDay: #e7e1d1f5;
$appBackgroundNight: Black;
$appTextNight: White;

// Footer & Header Colours
$BarBackgroundColorDay : #4E6C50;
$BarBackgroundColorNight: rgb(26, 25, 25);
$BarFontColorDay : #fff1de;
$BarFontColorNight : #fff1de;

// Common Page Colours
$DivHeadingDay : black;
$DivHeadingNight : white;
$DivBackgroundDay : #fff1de;
$DivBackgroundNight : rgb(36, 36, 36);

// Common Button Colours
$ButtonBackground : #293129;
$ButtonText : #fff1de;
$ButtonBorder : #293129;
$ButtonBackgroundHover : #7D8F69;
$ButtonTextHover : #395144;
$ButtonBorderHover : #7D8F69;

$ButtonBackgroundNight : rgb(255, 255, 255);
$ButtonTextNight : #000000;
$ButtonBorderNight : #000000;
$ButtonBackgroundNightHover : rgba(0, 0, 0, 0.884);
$ButtonTextNightHover : white;
$ButtonBorderNightHover : rgba(0, 0, 0, 0.884);

// Home Page Colour
$picBackgroundDay : #fff1de;
$picBackgroundNight : rgb(36, 36, 36);
$picBorderDay: #000000;
$picBorderNight: #ffffff;

