// Footer Colours

$footerBackgroundColorDay : #4E6C50;
$footerBackgroundColorNight: rgb(36, 36, 36);
$footerFontColorDay : #fff1de;
$footerFontColorNight : #fff1de;

// Header Colors
$headerBar : #4E6C50;
$headerBarNight : rgb(26, 25, 25);

$headerButtonBackground : #293129;
$headerButtonText : #fff1de;
$headerButtonBorder : #293129;

$headerButtonBackgroundHover : #7D8F69;
$headerButtonTextHover : #395144;
$headerButtonBorderHover : #7D8F69;

$headerButtonBackgroundNight : rgb(255, 255, 255);
$headerButtonTextNight : #000000;
$headerButtonBorderNight : #000000;

$headerButtonBackgroundNightHover : rgba(0, 0, 0, 0.884);
$headerButtonTextNightHover : white;
$headerButtonBorderNightHover : rgba(0, 0, 0, 0.884);

$faiconHeader : #293129;
$faiconHeaderHover : #7D8F69;
$faiconHeaderNight : white;
$faiconHeaderNightHover : rgba(0, 0, 0, 0.884);


