@import '../../variables.scss';

.mainPage{
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    display:flex;
    justify-content: center;
}
%heading{
    display: inline-block;
    transition: 0.2s;
}
.headingDay{
    @extend %heading;
    border-bottom: solid 1px $DivHeadingDay;
}
.headingNight{
    @extend %heading;
    border-bottom: solid 1px $DivHeadingNight;
}
%myPic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    object-fit: cover;    
    object-position: auto;
    transition: 0.2s;
}
.myPicDay{
    @extend %myPic;
    border: solid 1px $picBorderDay;
    background-color: $picBackgroundDay;
}
.myPicNight{
    @extend %myPic;
    border: solid 1px $picBorderNight;
    background-color: $picBackgroundNight;
}
.pictureContainer{
    margin-left: 20px;
    padding-top : 21.4px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
%bioContainer{
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    padding: 28px;
    line-height: 1.6;
    transition: 0.25s;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.bioContainerDay{
    @extend %bioContainer;
    box-shadow: 4px 8px rgba(156, 148, 138, 0.26);
    border: solid 1px $DivHeadingDay;
    background-color: $DivBackgroundDay;
}
.bioContainerNight{
    @extend %bioContainer;
    background-color: $DivBackgroundNight;
    box-shadow: 0;
    border: solid 1px $DivHeadingNight;
}
article{
    line-height: 1.6; 
}
%resumeButton{ 
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    white-space: nowrap;
}
.resumeButtonDay{
    @extend %resumeButton;
    background-color: $ButtonBackground;
    color: $ButtonText;
    border-color: $ButtonBorder;
}
.resumeButtonDay:hover{
    background-color: $ButtonBackgroundHover;
    color: $ButtonTextHover;
    border-color: $ButtonBorderHover;
}
.resumeButtonNight{ 
    @extend %resumeButton;
    background-color: $ButtonBackgroundNight;
    color: $ButtonTextNight;
    border-color: $ButtonBorderNight;
}
.resumeButtonNight:hover{
    background-color: $ButtonBackgroundNightHover;
    border-color: $ButtonBorderNightHover;
    color: $ButtonTextNightHover;
}

@media (max-width: 430px){
    .mainPage{
        flex-direction: column-reverse;
        padding-top: 13vh;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    %myPic{
        position: center;
        width: 300px;
        height: 300px;
        border-style: solid;
        object-fit: contain;
        object-position: center;
    }
    %heading{
        width: 300px;
    }
    article{
        vertical-align: middle;
    } 
    %bioContainer{
        border-style: none;
        padding: 0px;
    }
    .bioContainerDay{
        background-color: $appBackgroundDay;
        box-shadow: none;
    }   
    .bioContainerNight{
        background-color: $appBackgroundNight;
    }   
}
@media (min-aspect-ratio: 16/10){
    .mainPage{
        padding-top: 14vh;
        padding-bottom: 11vh;
    }
}